---
layout: post
title: ''
date: 
type: post
published: false
status: draft
categories: []
tags: []
meta:
  _wpcom_is_markdown: '1'
  _edit_last: '2'
  XML_RPC_naver: no-use
  sk_orignal_author: ''
  _sk_orignal_author: field_56a2d7d7f1b75
  sk_orignal_source: ''
  _sk_orignal_source: field_56a2d7eaf1b76
  sk_show_featured_image: '1'
  _sk_show_featured_image: field_56a2d825f1b77
  _heateor_sc_meta: a:0:{}
  _thumbnail_id: '2670'
  publish_to_discourse: '1'
author:
  login: d_yoon
  email: contactydh@naver.com
  display_name: 3을넘어서
  first_name: 을넘어서
  last_name: '3'
---
<p>창조과학은 성경이 과학적으로 무오함을 입증하려는 종교 운동이다. '과학'이 그 이름에 들어가지만, 정작 과학계에서는 사이비 취급을 받는다. 아니, 대다수의 과학인은 신경도 안 쓴다. 심지어 신학에서도 존재감이 없다. 기독교 초기부터 무조건적인 문자주의는 경계의 대상이었는데, 성 어거스틴(354~430)은 <em>The Literal Meaning of Genesis</em>에서 기독교인이 성경을 내세워 경험적 지식에 대해 떠드는 것이 "부끄럽고 위험한" 행동이라며 비판했다. 그는 <em>고백록</em>의 12번째 장에서 창세기 1장 1절의 은유적 해석과 역사적 해석 모두 옹호했으며, 13번째 장에는 7일 창조의 은유적 해석을 제시했다. 창조 두 번째 날의 '궁창'은 성경을, '궁창 위의 물'은 천사들을 상징한다는 식이다. 예로부터 지금까지 비기독교인이 성경을 문자 그대로 읽고 그것을 비웃는 건 예사고, 수많은 사람들이 입교할 생각에 성경을 폈쳤음에도 실망해서 덮어버렸다. 성 어거스틴도 젊었던 적에 그랬으니... 이것이 어거스틴의 평생 이불킥을 담당할 정도로 넘나 창피한 것이었다. 어쨌거나 기독교는 문자적인 교리 해석을 경계하여 여태껏 살아남아왔다.</p>
<p><img src="{{ site.baseurl }}/assets/&#44536;&#47564;&#51328;&#54644;.png" alt="그만좀해" width="300" height="305" class="aligncenter size-full wp-image" /></p>
<p>한편, 한국 개신교 근본주의자들은 80년대에 이런 생존 전략을 어디다 팔아먹고 미국에서 이상한 걸 들여왔다. 창조과학은 교회를 오염시키는 데서 그치지 않았으니... 과학 교과서에서 진화론을 삭제할 뻔 하면서 국위를 선양하게 된다. 그게 2012년 일인데, 그 이후로 하도 까여서 요새는 창조과학의 인기가 시들시들하다. 그래서 나도 한 번 까보겠다. 일단 워밍업으로 창조과학이 어떤 주장을 하는지 보자.</p>
<ol>
<li>성서무오설에 기반한 창조과학은 일반적으로 젊은지구창조설을 주장한다.</li>
<li>지구와 우주의 나이가 6,000~10,000년 전이다. (과학: 지구는 약 46억 살, 우주는 약 138억 살)</li>
<li>4,000년 전에 하느님의 심판으로 대홍수가 일어나 전지구를 싹쓸이했다. (과학: 그런 거 없었음 ㅋ)</li>
<li>하느님께 선택받은 노아는 생존을 위해 '노아의 방주'를 만드는데, 대략 추정 길이가 125m, 폭이 29m, 높이가 23m다.</li>
<li>노아의 나이는 당시 600살...</li>
<li>노아를 포함해 가족 8명과, 정결한 동물은 종류대로 암수 일곱 쌍, 부정한 동물은 종류대로 암수 두 쌍이 노아의 방주에 탑승했다.</li>
<li>샘이 터지고 창문이 열려 40일간 비가 내렸고 홍수로 인해 가장 높은 산이 잠겼다.</li>
<li>홍수가 끝나고 노아의 방주에 탔던 생물들이 번성했다.<br />
등등</li>
</ol>
<p>창조과학은 여러 가지 방법으로 깔 수 있다.<br />
과학의 설명 보여주기. 창조과학이 왜 과학이 아닌지 보여주기. 성경이 무오하지 않다는 걸 보여주기. <strong>창조과학의 허무맹랑함을 보여주기</strong><br />
사실 노아의 홍수에 넷째 전략 한 방이면 충분하다. 홍수가 창조과학의 상당 부분을 차지하며, 그만큼 억지로 끼워맞추었기 때문이다.</p>
<p><img src="{{ site.baseurl }}/assets/&#51453;&#52285;.jpg" alt="죽창" width="250" height="202" class="aligncenter size-full wp-image-2676" /></p>
<p>노아 홍수의 주된 요소는 물, 방주, 생물이다. 이 세 가지를 뜯어보면 노아 홍수가 얼마나 황당한 주장인지 쉽게 눈치챌 수 있다.</p>
<p><strong>물</strong></p>
<p>아무래도 지구를 완전히 잠기게 만들 정도로 거대한 홍수가 나려면 물이 많이 필요하다. 그러기에는 지구가 물부족행성인 것처럼 보이지만, 다행히(?) 성경에는 그 해답이 나와있다. 창세기 7장 11절 "큰 깊음의 샘들이 터지며 하늘의 창문들이 열려" 비가 쏟아졌다고 한다. 창조과학자들은 큰 깊음의 샘들과 하늘의 창문들을 설명하기 위해 각각의 모델을 제시했다.</p>
<p>먼저, 1980년 월터 브라운이 처음 제시한 '수판이론(Hydroplate theory)'이다. 브라운에 따르면 홍수 이전에는 맨틀과 지각 사이에 물층이 존재했는데, 신이 지각의 일부를 깨뜨려 그 물이 분수처럼 솟아서 비처럼 내렸다. 더 나아가 맨틀에 받침대가 있어서 지각을 지탱하고 자전 각속도를 동일하게 해줬다고 주장했다.</p>
<p>일단, 맨틀과 지각은 모호로비치치 불연속면에 의해 나뉜다. 대륙지각에서 모호로비치치 불연속면의 온도는 섭씨 500~600도다.<sup id="fnref-2666-1"><a href="#fn-2666-1">1</a></sup> 물은 제대로 끓지 못할 것이. 지각이 틈이 생기는 순간 노아의 스팀청소를 예상해본다.</p>
<p>둘째로, 덮개이론(canopy theory)이다. 이는 앞서 말한 "하늘의 창문들이 열려"와 창세기 1장의 "궁창 위의 물"에 근거한다. 쉽게 말해 하늘 위에 물층이 존재했고, "창문"이 열려 그 물층이 쏟아졌다는 것이다. 이 모델은 많은 것을 설명할 수 있다는 장점이 있다. 신은 생물들을 유전적으로 완전하게 창조했고, 하늘의 물층은 유해한 자외선과 방사선이 유전자를 훼손하는 것을 막아주었다. 그래서 아담과 노아를 비롯한 인간들은 거의 1000년 가까이 살 수 있었으며, 모든 땅에 기는 동물들은 창세기 1장 29절에 나온대로 육식하지 않고 초식을 했다. 그러나 노아의 홍수로 하늘 위 물층이 사라지자 돌연변이가 생겨나 급격한(?) 노화와 육식을 비롯한 현상이 생겨났다</p>
<p>음... 일단 그 물층이 떨어지지 않고 하늘에 떠있어야 합니다. 시작부터 만만치 않네요. 궤도를 돌아야 하는데 지구 전체를 덮고 있으니 x축 y축 z축 회전이 모두 필요하군요.</p>
<p><img src="{{ site.baseurl }}/assets/&#44536;&#47548;1.png" alt="그림1" width="1062" height="758" class="aligncenter size-full wp-image-2679" /></p>
<p>위는 그래프다.</p>
<p><strong>방주</strong></p>
<div class="footnotes">
<hr />
<ol>
<li id="fn-2666-1">
Chaklader, A. C. D. (1965). The Mohorovicic Discontinuity. Nature, 207, 1082-1083.&#160;<a href="#fnref-2666-1">&#8617;</a>
</li>
</ol>
</div>
