---
---
$grid-breakpoints: (
  xs: 0,      // Extra small screen / phone
  sm: 576px,  // Small screen / phone
  md: 768px,  // Medium screen / tablet
  lg: 992px, // Large screen / desktop
  xl: 1200px // Extra large screen / wide desktop
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// comments
$color_emp:#e64946;
$color_grey:#e5e5e5;
$color_front:black;
$color_drak:#2a2a2a;
$color_on_dark:white;
$font_stack_sans:'Nanum Gothic', 'Open Sans', Helvetica, Arial, sans-serif;


$content_line_height:1.7;
$body_font_size:14px;
$content_font_size:1.6rem;
//$article_font_size:1.2rem;

$widget_font_size_header:2rem;
$widget_font_size_title:1.6rem;
$widget_font_size:1.4rem;
$widget_post_height:150px;

$widget_small_font_size_header:2rem;
$widget_small_font_size_title:1.6rem;
$widget_small_font_size:1.4rem;
$widget_small_post_height:70px;



body { font-size: $body_font_size; }
p, blockquote, li {
  font-family: $font_stack_sans;
  line-height: $content_line_height;
  font-size: $content_font_size;
}

blockquote {
  font-style: italic;
  font-size: $content_font_size*0.9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font_stack_sans;
  line-height: 1.3;
  font-weight: 700;
}
h2{ margin-top:2em;margin-bottom:1.4em;}

.sk-most-outer {
  background-color:$color_grey;
}

//-----------------------
// TOP Header
//-----------------------
.sk-top-header {
  background-color:white;
  padding:10px;
  overflow:hidden;
  a { color:black; }
  .sk-header-text {
    margin: 5px 0;
    float:right;
    text-align: right;
    margin-top: 30px;
    margin-right: 20px;
    .sk-header-title{
      font-size: 3rem;line-height: 1;margin:0px;
    }
    .sk-header-tagline{
      display: inline-block;
      font-size: 1.2rem;
      line-height: 1;
      color: $color_emp;
      padding-top: 10px;
      margin-top: 10px;
      border-top: 1px solid $color_grey;
    }
  }
}

//-----------------------
// Nav Bar
//-----------------------
#sk-main-navbar {
  background-color:$color_drak;
  border-bottom: 5px solid $color_emp;
  font-weight: 700;
  font-size:20px;
  color:$color_on_dark;
  margin-left:-15px;
  margin-right:-15px;
  .navbar-nav {
    &>li>a{
      color: $color_on_dark;
      background-color:transparent;
    }
    &>li.active, &>li:hover {
      background-color: $color_emp;
      transition: 0.25s ease-out;
    }
    .navbar-fixed-top & .navbar-collapse {
      // Doesn't work. hard coded
      @media (min-width: 768px) {
        padding-right:15px;
        padding-left:15;
      }
    }
    //==== Search Box
    .sk-search-box {
      margin:0px 10px 0px 10px;
      input.search-field {
        background-color:$color_drak;
        color: $color_on_dark;
        width:100%;
        margin:2% 0px 2% 0px;
        padding:2% 5px 2% 5px;
        font-size:85%;
      }
    }
  }
}

//---------------------
//  Widget Common
//---------------------
.sk-title{ font-weight:bold;}
.sk-widget {
  // Font
  font-size: $widget_font_size;
  .sk-header{ font-size:$widget_font_size_header;}
  .sk-body .sk-title{ font-size:$widget_font_size_title;}

  color:black;
  .sk-title a{ color: black }
  .sk-header.sk-title,
  .sk-header .sk-title {
    border-bottom: 4px solid $color_emp;
    font-size: $widget_font_size_header;
    padding-bottom:5px;margin-bottom:10px;
  }
  .sk-main-img {
    margin:0;padding:0;
    overflow:hidden;
    height: 90%;
  }
  article {
    height: $widget_post_height;
    overflow:hidden;
    border-bottom:1px solid $color_grey;
    margin: 0 0 10px 0 ;
    padding-bottom:10px;
  }// article
}
.sk-widget.sk-small {
  margin-top:10px;
  font-size: $widget_font_size;
  .sk-header { font-size:$widget_small_font_size_header;}
  .sk-body .sk-title { font-size:$widget_small_font_size_title;}
  .sk-body .sk-title { margin:0; }
  .sk-main-img { height:90%; }
  article {
    height:$widget_small_post_height;
    .sk-meta,.sk-excerpt{ display:none; }
  }// article
}
//-----------------------
// Footer
//-----------------------
.sk-footer,.sk-footer-top,.sk-footer-bottom {
  background-color:$color_drak;
  color:$color_on_dark;
}
//.sk-main-footer { padding:0;}

.sk-footer {
  //background-color:$color_drak;
  .sk-widget .sk-header .sk-title,
  .sk-widget.sk-posts .sk-body .sk-title a{
    color:$color_on_dark;
  }
  //== Contact Widget
  .sk-widget.sk-contact {
    padding-top:40px;
    text-align:center;
  }
} // sk-footer
.sk-footer-bottom{
  border-top: 2px solid #e0e0e0;
  padding:10px;
  margin-top:20px;
}

//-----------------------
// Banner
//-----------------------
.sk-main-banner {
  position: relative;
  //@media only screen and (max-width : 768px) { height:400px; }
  height:300px;
  overflow: hidden;
  .sk-main-img, .sk-main-img img{
    width:100%;
  }
  .sk-content {
    @media only screen and (min-width : 480px) { width:100%; }
    @media only screen and (min-width : 768px) { width:50%; }
    @media only screen and (min-width : 992px) { width:36% }
    position:absolute;
    top:0;
    right:0;
    width:36%;
    padding-right:30px;
    padding-left:30px;
    padding-top:10px;
    padding-bottom:30px;
    //height:300px;
    background-color:rgba(0, 0, 0, 0.7);
    color:white;
    font-size:1.6rem;
    overflow-x:auto;
    a{
      color:white;
    }
  }
}

//-----------------------
// Main Body
//-----------------------
.sk-main-container {
  background-color:white;
}

.sk-single-article{
  article .sk-header {
    position:relative;
    .sk-header-inbox {
      position:absolute;
      top:0;left:0;
      background-color:rgba(0, 0, 0, 0.75);
      color:white;
      padding:5px 20px 5px 20px;
    }
  }
  .sk-main-image {
    @media only screen and (min-width : 992px) { padding-top:0px; }
    @media only screen and (min-width : 768px) { padding-top:20px; }
    @media only screen and (min-width : 480px) { padding-top:40px; }
    //height:400px;
    width:100%;
  }
  .sk-img-box {
    border-bottom: 5px solid #e64946;
    margin-bottom:2em;
    .sk-img-box-inner {
      //max-height:400px;overflow:hidden;
    }
    .sk-image-caption {
      min-height:2em;
    }
  }

    h3,h4,h5,h6 {
      line-height:1.7;
    }
  img { max-width: 100%;width:auto;}

  p { margin-bottom:10px;text-indent: 10px;}
  blockquote {
    margin-top:15px;
    border-left: 5px solid $color_emp;
    border-right: 2px solid $color_emp;
    color:#666;
    padding: 0.9375rem;
    box-shadow: 2px 2px 15px #ccc;
    quotes: none;
    font-size:90%;
  }

  b,i,p,span{
    &[blue],&.blue{ color:blue;}&[b-blue],&.b-blue{ background-color:blue;}
    &[red],&.red{ color:red;}&[b-red],&.b-red{ background-color:red;}
    &[white],&.white{ color:white;}&[b-white],&.b-white{ background-color:white;}
    &[black],&.black{ color:black;}&[b-black],&.b-black{ background-color:black;}
    &[yellow],&.yellow{ color:yellow;}&[b-yellow],&.b-yellow{ background-color:yellow;}
    &[green],&.green{ color:green;}&[b-green],&.b-green{ background-color:green;}
    &[pupple],&.pupple{ color:pupple;}&[b-pupple],&.b-pupple{ background-color:pupple;}
    &[big], &.big{ font-size:120%; }
    &[bigger], &.bigger{ font-size:150%; }
    &[bbig], &.bbig{ font-size:150%; }
  }
}
//------------------------
// Bootstrap missing
//------------------------
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  &, p {
    font-size:14px;
    line-height: 1.7;
  }
  &.sk-big {
    &, p {
      font-size:18px;
      line-height: 1.7;
    }
  }
  h4 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  h3 {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }

}
.bs-callout+.bs-callout {
  margin-top: -5px;
}

@mixin bs-callout-color($color){
  border-left-color: $color;
  h3,h4{ color: $color; }
}
.bs-callout-default { @include  bs-callout-color(#777) }
.bs-callout-primary { @include  bs-callout-color(#428bca) }
.bs-callout-success { @include  bs-callout-color(#5cb85c) }
.bs-callout-danger  { @include  bs-callout-color(#d9534f) }
.bs-callout-warning { @include  bs-callout-color(#f0ad4e) }
.bs-callout-info    { @include  bs-callout-color(#5bc0de) }

//------------------------
//  DISQUS TUNE
//------------------------
#disqus_thread #conversation #post #no-post,
div#no-posts{
  display:none;
}
