<!DOCTYPE html>
<html class=" fullbg js " lang="ko-KR">

  {% include head.html %}

  <body data-spy="scroll" data-target=".sk-main-navbar">
    <div class="sk-most-outer">
      <div class="container sk-main-container">
        {% include nav.html %} <!-- TODO -->
        <div class="sk-main-body row">
          <div class="algolia__initial-content js-algolia__initial-content">
            {{ content }}
          </div>
          <div class="algolia__search-content js-algolia__search-content col-xs-12">
            <h1 class="page-title">Search</h1>
            <div class="posts algolia__results"></div>
          </div>
        </div>
        <div class="sk-main-footer row">
          {% include footer.html %}
        </div>
      </div>
      {% include js.html %}
    </div>
  </body>
</html>
