---
layout: default
---

<div class="sk-single-article sk-content col-lg-10 col-lg-offset-1">
  <! -- SINGLE POST -->
  <article>
  <header class="sk-header">
  <h1 class="sk-title"> {{ page.title }}</h1>
  <p class="sk-meta">
  <span class="sk-date"><i class="fa fa-clock-o"></i>{{ page.date | date: "%b %-d, %Y" }}</span>
  <span class="sk-author"><i class="fa fa-user"></i>{{ page.o_author | default: page.author }}</span>
  <span class="sk-categories"><i class="fa fa-folder-open-o"></i>
    {% for category in page.categories %}
    {{ category }} 
    {% endfor %}
  </span>
  </header>

  <!-- Main Image -->
  {% if page.img %}
  <figure class="sk-img-box">
  {% include f/featured_image class="sk-main-image img-responsive" img=page.img%}
  <figcaption class="sk-image-caption">{{ page.img_desc }}</figcaption>
  </figure>
  {% endif %}
  <!-- Contents -->
  {{ content }}
  <!-- Information BOXes -->
  {% include w/author %}
  {% include w/o_author %}
  {% include w/license %}
  </article>
  <!-- COMMENTS -->
  {% include w/comments_block %}
</div>
