---
layout: default
---

<div class="sk-single-article sk-content col-lg-10 col-lg-offset-1">
  <!-- SINGLE POST -->
  <article>
  <header class="sk-header">
  <div class="sk-header-inbox" {% if page.no_top_img %}style="position:relative;"{%endif%}>
    <h1 class="sk-title"> {{ page.title }}</h1>
    <p class="sk-meta">
    <span class="sk-date"><i class="fa fa-clock-o"></i>{{ page.date | date: "%b %-d, %Y" }}</span>
    <span class="sk-author"><i class="fa fa-user"></i>{{ page.o_author | default: page.author }}</span>
    <span class="sk-categories"><i class="fa fa-folder-open-o"></i>
      {% for category in page.categories %}
      {{ category }} 
      {% endfor %}
    </span>
  </div>
  <!-- Main Image -->
  <figure class="sk-img-box">
  {% assign post = page %}
  {% unless page.no_top_img %}
    <div class="sk-img-box-inner">
  {% include f/featured_image class="sk-main-image img-responsive" img=page.img%}
    </div>
  {% endunless %}
  <figcaption class="sk-image-caption">{{ page.img_desc }}</figcaption>
  </figure>
  </header>

  <!-- Contents -->
  {{ content }}
  </article>

  <!-- Information BOXes -->
  {% include w/author %}
  {% include w/o_author %}
  {% include w/license %}

  <!-- COMMENTS -->
  {% include w/comments_block %}
</div>
