---
layout: articles
title: 최근글
---

<div class="sk-recent-posts sk-widget sk-posts">
  {% for post in paginator.posts %}
  {% include article_in_list.html %}
  {% endfor %}
</div>
<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<ul class="pagination pagination-lg">
  {% if paginator.previous_page %}
  <li><a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="glyphicon glyphicon-chevron-left"></a></li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
  {% assign postfix=page %}
  {% if page == 1 %} {% assign postfix="" %}{% endif %}
  {% if page == paginator.page %}
  <li class="active"><a>{{ page }}</a></li>
  {% else %}
  <li><a href="{{ site.baseurl }}{{ site.paginate_path | replace: ':num', postfix }}">{{ page }}</a></li>
  {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
  <li><a href="{{ site.baseurl }}{{ paginator.next_page_path }}"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
  {% endif %}
</ul>
{% endif %}
