<article class="row">
<div class="sk-main-img col-xs-4">
  <a href="{{ post.url | prepend: site.baseurl }}" class="article-url">
    {% include f/featured_image class="article-image img-responsive" img=post.img thumb=include.thumb %}
  </a>
</div>
<div class="sk-content col-xs-8">
<h3 class="sk-title"><a href="{{ post.url | prepend: site.baseurl }}" class="article-url article-title">{{ post.title }}</a></h3>
<div class="sk-meta article-updated">
  {{ post.date | date: "%b %-d, %Y" }}. | By: {{ post.author }}
</div>
<div class="sk-excerpt article-excerpt">
  {{ post.excerpt | strip_html | truncatewords:10 }}
</div>
</div>
</article>
