<article class="mh-loop-item clearfix post type-post status-publish format-standard has-post-thumbnail hentry">
  <div class="sk-loop-inner">
    <div class="mh-loop-content clearfix">
      <header class="mh-loop-header">
      <h3 class="entry-title mh-loop-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
      <div class="mh-meta mh-loop-meta">
        <span class="mh-meta-date updated">{{ post.date | date: "%b %-d, %Y" }}. | By: {{ post.author }}</span>
      </div>
      </header>
    </div>
  </div>
</article>
