<div id="sk-main-banner" class="sk-main-banner carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#sk-main-banner" data-slide-to="0" class="active"></li>
    <li data-target="#sk-main-banner" data-slide-to="1"></li>
    <li data-target="#sk-main-banner" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner random_posts" nposts=5  role="listbox">
    {% assign random = site.time | date: "%s" | modulo: 400 %}
    {% for i in (1..3)  %}
    {% assign random = random | add: 1 %}
    {% assign index  = site.data.random[random] | modulo: site.posts.size %}
    {% assign post = site.posts[index] %}
    <div class="item{% if forloop.last %} active{% endif %}">
      {% include article_in_list.html  %}
    </div>
    {% endfor %}
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#sk-main-banner" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#sk-main-banner" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
