{% assign page_name = include.name %}
{% assign list = include.list %}

<div class="sk-tags-page-container">
<div class="sk-tags-group">
  <a class="anchor" id="main_tags_group"></a>
{% for item in list %}
<a href="#{{ item.first }}" class="btn btn-primary" type="button">
    {{ item.first }} <span class="badge">{{item| last | size }}</span>
</a>
{% endfor %}
</div>

{% for item in list %}
<div class="sk-tags-list">
  <a class="anchor" id="{{ item.first }}"></a>
  <h2 class="sk-tags-title">{{ item.first }} <a href="#main_tags_group" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></a></h2>
  <div class="sk-article-list-small clearfix">
     {% for post in list[item.first] %}
        {% include article_in_list_simple.html %}
     {% endfor %}
  </div>
</div><! --/container -->
{% endfor %}
</div>
