<script src="{{ site.baseurl }}/assets/js/d3.v3.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/d3.layout.cloud.js"></script>
<div id="sk-tag-cloud" style="font-weight:bold;"></div>
<script>var fill = d3.scale.category20();var data = [
{% for item in site.tags %}
  {word:"{{ item.first }}",weight:{{ item | last | size }},link:"{{ site.baseurl }}/tags#{{ item.first }}"},
{% endfor %}
  ];

  d3.layout.cloud().size([320, 320])
  .words(data.map(function(d) {
    return {text: d.word, size: d.weight*17, link: d.link};
  }))
  .padding(5)
  .rotate(function() { return ~~(Math.random() * 2)*90; })
  .font("Impact")
  .fontSize(function(d) { return d.size; })
  .on("end", draw)
  .start();

  function draw(words) {
    d3.select("#sk-tag-cloud").append("svg")
    .attr("width", 320)
    .attr("height", 320)
    .append("g")
    .attr("transform", "translate(160,160)")
    .selectAll("text")
    .data(words)
    .enter()
    .append("svg:a")
    .attr("xlink:href", function(d){return d.link})
    .append("text")
    .style("font-size", function(d) { return d.size + "px"; })
    .style("font-family", "Impact")
    .style("fill", function(d, i) { return fill(i); })
    .attr("text-anchor", "middle")
    .attr("transform", function(d) {
      return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
    })
    .text(function(d) { return d.text; });
  }

</script>
