<footer class="sk-footer container-fluid">
<div class="sk-footer-top row">
  <div class="col-lg-3 col-md-6 sk-widget sk-small sk-posts sk-popular-posts">
    <div class="sk-header"><h6 class="sk-title">인기글</h6></div>
    <div class="sk-body popular_posts" nposts="3">
      {% for i in (1..3) %}
      {% include article_in_list.html thumb="120x53" %}
      {% endfor %}
    </div>
  </div>
  <div class="col-lg-3 col-md-6 sk-widget sk-small sk-posts sk-random-posts">
    <div class="sk-header"><h6 class="sk-title">랜덤글</h6></div>
    <div class="sk-body random_posts" nposts="3">
    {% for i in (1..3)  %}
      {% include article_in_list.html thumb="120x53" %}
    {% endfor %}
    </div>
  </div>
  <div class="col-lg-3 col-md-6 sk-widget sk-small">
    <div class="sk-header"><h6 class="sk-title">태그</h6></div>
  </div>
  <div class="col-lg-3 col-md-6 sk-widget sk-small sk-contact">
    <div class="sk-logo center-block">
      <a href="http://skepties.net" class="center-block">
        <img src="{{ site.baseurl }}/assets/site/intert100.png" alt="스켑티즈 로고" title="스켑티즈 로고" class="img-responsive center-block">
      </a>
    </div>
    <div class="sk-icons center-block">
      <span style="font-size:48px;">
        <a href="mailto:skepties9+contact@gmail.com"><i class="fa fa-envelope" aria-hidden="true" style="color:white;"></i></a>
        <a href="https://www.facebook.com/skepties9/"><i class="fa fa-facebook-square" aria-hidden="true" style="color:#3b5998;"></i></a>
        <a href="{{ site.baseurl }}/atom.xml"><i class="fa fa-rss-square" aria-hidden="true" style="color:#F5870A;"></i></a>
      </span>
    </div>
  </div>
</div>
<div class="sk-copyright sk-footer-bottom text-center row">
Copyright © 2016 by Skepties | <a href="{{ site.baseurl }}/tos">이용약관</a> | <a href="{{ site.baseurl }}/privacy">개인정보취급방침</a> | <a href="{{ site.baseurl }}/faq">FAQ</a> | 연락처 <a href="mailto:skepties9+contact@gmail.com">skepties9+contact@gmail.com</a>
</footer>
