<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">{% 
    capture description %}{% if page.id %}{{ page.description | default: page.excerpt | default: page.title | strip_html | truncatewords:10 }}{% else %}{{ page.description | default: site.description }}{% endif %}{%endcapture %}
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ page.o_author | default: page.author | default: skepties }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title | default: site.title }}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="{%if page.img %}{%include f/featured_image_url_IMPL img=page.img%}{%else%} http://skepties.net/assets/site/logo.jpg{%endif%}">
    <meta property="og:url" content="http://skepties.net{{site.baseurl}}{{page.url}}">
    <link rel="shortcut icon" href="{{ "/assets/ico/favicon.ico" | prepend: site.baseurl }}">
    <link rel="alternate" type="application/rss+xml" title="스켑티즈 &raquo; Feed" href="http://skepties.net/atom.xml"/>

    <title>{% unless page.url == '/' %}{{ site.title }} - {%endunless%}{% if page.title %}{{ page.title }}{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">

    <!-- Algolia CSS -->
     <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/algolia.css">

    <!-- Custom styles for this template -->
    <link href="{{ "/assets/css/sk-style.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">
<script src="//load.sumome.com/" data-sumo-site-id="9181207dec6a51829e71ccf4c88322294fbffe3ae0e8390f458dba4156a154d8" async="async"></script>
    
    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
