<script src="{{ site.baseurl }}/assets/js/jquery.min.js" ></script>
<script src="{{ site.baseurl }}/assets/js/underscore-min.js" ></script>
<script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js" ></script>
<script src="{{ site.baseurl }}/assets/js/retina.min.js" ></script>

<script>
  //$('body').scrollspy({ target: '.sk-main-navbar' })
  $(document).ready(function () {
    var menu = $('.sk-main-navbar-outer');
    var origOffsetY = menu.offset().top;
    function scroll() {
      if ($(window).scrollTop() >= origOffsetY) {
        $('body').css("padding-top","75px")
        menu.addClass('navbar-fixed-top').addClass('container');
        } else {
        $('body').css("padding-top","0px")
        menu.removeClass('navbar-fixed-top').removeClass('container');
      }
      $(".sk-main-banner .sk-main-image").removeClass('col-xs-4');
    }
    document.onscroll = scroll;
  });
</script>

<script>
  $(document).ready(function () {
    var $allVideos = $("iframe.sk-full");

    $allVideos.each(function() {
      $el = $(this);
      $el
      .data('aspectRatio', $el.height() / $el.width())
      .removeAttr('height').removeAttr('width');
    });
    // When the window is resized
    $(window).resize(function() {
      $allVideos.each(function() {
        var newWidth = $(this).parent().width();
        var $el = $(this);
        $el.width(newWidth).height(newWidth * $el.data('aspectRatio'));
      });
    }).resize();
  });
</script>

  {% comment %}
  <script src="//load.sumome.com/" data-sumo-site-id="9181207dec6a51829e71ccf4c88322294fbffe3ae0e8390f458dba4156a154d8" async="async"></script>
  {% endcomment %}
  {% if site.analytics and jekyll.environment == "production" %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.analytics }}', 'auto');
    ga('send', 'pageview');

  </script>
  {% endif %}
  <script>
    window.ALGOLIA_CONFIG = {
      'applicationId': '{{ site.algolia.application_id }}',
      'indexName': '{{ site.algolia.index_name }}',
      'apiKey': '{{ site.algolia.read_only_api_key }}',
      'baseurl': '{{ site.baseurl }}'
    }
  </script>
  <script id="algolia__template" type="text/template">
    {% raw %}
    <div class="algolia__result">
      <a class="algolia__result-link" href="{{ full_url }}#algolia:{{ css_selector }}">{{{ _highlightResult.title.value }}}</a>
      {{#posted_at}}
      <div class="algolia__result-date">{{ posted_at_readable }}</div>
      {{/posted_at}}
      <div class="algolia__result-text">{{{ _highlightResult.text.value }}}</div>
    </div>
    {% endraw %}
  </script>
  <script id="algolia__template--no-results" type="text/template">
    No results found.
  </script>

  <script src="//cdn.jsdelivr.net/algoliasearch/3.6.0/algoliasearch.min.js"></script>
  <script src="//cdn.jsdelivr.net/algoliasearch.helper/2.1.0/algoliasearch.helper.min.js"></script>
  <script src="//cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.js"></script>
  <script src="//cdn.jsdelivr.net/momentjs/2.10.3/moment.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/algolia.js"></script>

  {% if page.comments %}
  {% assign _str = page.url | split: "" %}
  {% if "/" ==  _str.last  %}
  {% assign _str =  _str | pop  %}
  {% endif %}
  {% assign page_url = _str | join:'' %}
  <script>
    var disqus_config = function () {
      this.page.url = 'http://skepties.net/{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '{{ page.disqus_id | default: page.url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//skepties.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.8&appId=204275019915859";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  <script>
    $('iframe').contents().find("div#no-posts").css("display","none");
    //$('iframe').onLoad( function() {
      //});
  </script>
  {% endif %}
