<!-- Fixed navbar -->
<div class="row sk-top-header">
  <a href="http://skepties.net/" title="스켑티즈" rel="home">
    <div class="sk-site-logo" role="banner">
      <img class="sk-header-image" src="{{ site.baseurl }}/assets/site/smalllogo.png" height="100" width="266" alt="스켑티즈"/>
      <div class="sk-header-text">
        <h1 class="sk-header-title">스켑티즈</h1>
        <h2 class="sk-header-tagline">지식의 가장 큰 적은 무지가 아니라 지식에 대한 망상이다 - 스티븐 호킹</h2>
      </div>
    </div>
  </a>
</div>
<div class="sk-main-navbar-outer">
  <nav id="sk-main-navbar" class="navbar navbar-default sk-main-navbar" style="/*padding:0;margin:0;*/">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sk-main-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="sk-main-navbar-collapse" class="navbar-collapse collapse" style="padding-left:15px;padding-right:15px;">
      <ul class="nav navbar-nav">
        {% include f/nav_item url="/"   name="HOME" %}
        {% include f/nav_item url="/recent/"   name="최근글" %}
        {% include f/nav_item url="/category/" name="카테고리" %}
        {% include f/nav_item url="/tags/"     name="태그" %}
        {% include f/nav_item url="/category#회의주의"   name="회의주의" class="visible-md-block visible-lg-block"%}
        {% include f/nav_item url="/category#과학이야기" name="과학이야기" class="visible-lg-block"%}
        {% include f/nav_item url="/faq/" name="FAQ" %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="sk-search-box">
          <input type="text" class="search-field algolia__input js-algolia__input" autocomplete="off" name="query" placeholder=" 검색 ... " />
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </nav>
</div> <!-- .sk-main-navbar-outer -->
