  <li class="{% if page.url == "/" %}current-menu-item {% endif %}menu-item">
    <a href="{{"/" | prepend: site.baseurl }}" role="menuitem">Home</a>
  </li>
  <li class="{% if page.url == "/recent/" %}current-menu-item {% endif %}menu-item">
    <a href="{{"/recent" | prepend: site.baseurl }}" role="menuitem">최근글</a>
  </li>
  <li class="{% if page.url == "/category/" %}current-menu-item {% endif %}menu-item">
    <a href="{{"/category" | prepend: site.baseurl }}">카테고리</a>
  </li>
  <li class="{% if page.url == "/tags/" %}current-menu-item {% endif %}menu-item">
    <a href="{{"/tags" | prepend: site.baseurl }}">태그</a>
  </li>
  <li class="{% if page.url == "category#회의주의" %}current-menu-item {% endif %}menu-item">
  <a href="{{"/category#회의주의" | prepend: site.baseurl }}">회의주의</a>
  </li>
  <li class="{% if page.url == "category#과학이야기" %}current-menu-item {% endif %}menu-item">
  <a href="{{"/category#과학이야기" | prepend: site.baseurl }}">과학이야기</a>
  </li>
  <li class="{% if page.url == "/faq/" %}current-menu-item {% endif %}menu-item">
    <a href="{{"/faq" | prepend: site.baseurl }}">스켑티즈란?</a>
  </li>
