{% if page.o_author  or page.o_source %}
<div class="alert alert-info" role="alert">
  {% if page.o_author %}
  <div>원저자 : 
    {% assign author_info = site.data.authors[page.o_author] %}
    {{ author_info.display_name | default: page.o_author }}
  </div>
  {% endif %}
  {% if author_info.home %}
  <div> Home : <a href="{{ author_info.home }}" class="alert-link">{{ author_info.home }}</a></div>
  {% endif %}

  {% if page.o_source %}
  <div>출처 : <a href="{{ page.o_source }}" class="alert-link">{{ page.o_source }}</a></div>
  {% endif %}
</div>
{% endif %}

    
