<aside class="mh-widget-col-1 mh-sidebar">
  <div id="text-3" class="mh-widget widget_text"><h4 class="mh-widget-title">Links</h4> <div class="textwidget"><a href="https://www.facebook.com/skepties9/" onclick="__gaTracker('send', 'event', 'outbound-widget', 'https://www.facebook.com/skepties9/', '');"><img src="/wp-content/uploads/2016/01/facebook32.png" alt="facebook icon"></a>
      <a href="//skepties.net/feed"><img src="/wp-content/uploads/2016/01/rss32.png" alt="rss icon"></a></div>
  </div>
</aside>

<div class="col-lg-4">
   <!--  <h4>Search</h4>
    <div class="hline"></div>
        <p>
            <br/>
            <input type="text" class="form-control" placeholder="Search something">
        </p>
    <div class="spacing"></div> -->
    <h4>Subscribe</h4>
    <div class="hline"></div>
        <p>
            <p class="rss-subscribe">Subscribe to this blog <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
        </p>
    <div class="spacing"></div>
    <h4>Categories</h4>
    <div class="hline"></div>
    {% for category in site.categories %}{% unless category.first == "blog" or category.first == "project" or category.first == "question" %}
        <p>
            <a href="{{ '/category/#'  | prepend: site.baseurl  }}{{ category | first }}"><i class="fa fa-angle-right"></i> {{ category | first | capitalize }}</a>
            <span class="badge badge-theme pull-right">{{ category | last | size }}</span>
        </p>
    {% endunless %}{% endfor %}

    <div class="spacing"></div>

    <h4>Recent Posts</h4>
    <div class="hline"></div>
        <ul class="popular-posts">
            {% for post in site.categories['blog'] limit:4 %} 
                <li>
                    <a href="{{ post.url  | prepend: site.baseurl }}"><img src="{{ "/assets/img/blog/thumbs/" | prepend: site.baseurl }}{{ post.thumb }}" alt="Popular Post"></a>
                    <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                <em>Posted on {{ post.date | date_to_string }}</em>
            </li>
            {% endfor %} 
        </ul>

    <div class="spacing"></div>

    <h4>Popular Tags</h4>
    <div class="hline"></div>
    <p>
    {% for category in site.categories %}{% unless category.first == "blog" or category.first == "project" or category.first == "question" %}
            <a class="btn btn-theme" href="{{ '/category/#'  | prepend: site.baseurl  }}{{ category | first }}" role="button">{{ category | first | capitalize }} ({{ category | last | size }})</a>	         
        {% endunless %}{% endfor %}
    </p>
</div>
