  <aside class="sk-sidebar">
  <div class="sk-widget sk-small">
    <div class="sk-header sk-title">Links</div>
    <div class="">
    <i class="fa fa-facebook-square" style="font-size:48px;color:#3b5998;"></i>
    <a href="{{ site.baseurl }}/atom.xml">
      <i class="fa fa-rss-square" aria-hidden="true" style="font-size:48px;color:#F5870A;"></i>
    </a>
  </div>
</div>
<div class="sk-widget sk-small">
  <div class="sk-header sk-title">태그</div>
  {% include d3_tags_cloud.html %}
</div>
</aside>
