---
layout: index
title: "스켑티즈"
permalink: /
---
{% include banner.html %}

<div class="sk-content sk-multi-article col-lg-8">
  <div class="row">
    <div class="sk-widget sk-small sk-posts col-md-6">
      <h4 class="sk-header sk-title">Popular</h4>
      <div class="sk-body popular_posts" nposts="3">
        {% for post in site.posts limit:3 %}
        {% include article_in_list.html thumb="120x53" %}
        {% endfor %}
      </div><!-- sk-body -->
    </div><!-- sk-widget -->


    <div class="sk-widget sk-small sk-posts col-md-6">
      <h4 class="sk-header sk-title">News</h4>
      <div class="sk-body" nposts="3">
        {% for post in site.categories["뉴스"]  limit:3 %}
        {% include article_in_list.html thumb="120x53" %}
        {% endfor %}
      </div><!-- sk-body -->
    </div><!-- sk-widget -->

    <div class="sk-widget sk-posts col-md-12">
      <h4 class="sk-header sk-title">Recent</h4>
      {% for post in site.posts limit:5 %}
      {% include article_in_list.html thumb="250x125" %}
      {% endfor %}
    </div>

  </div><!-- sk-row -->
</div>
<div class="sk-sidebar col-lg-4">
  {% include sidebar_articles.html %}
</div>
